.menu .nav-link,
.sidebar-footer .nav-link {
  text-decoration: none;
  color: #3d3d3d;

}

.menu .menu-icon,
.sidebar-footer .menu-icon {
  margin-right: 1rem;
}

.App-heading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;
    margin-left: 20px;
  }
  